* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
    .text-area:focus {
        outline: none;
    }

.mensagem {
    background: white;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensagem:focus {
    outline: none;
}


.botoes {
    display: flex;
    margin-top: 60px;

}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;    
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 100px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

h6, .informacao {
    color: #495057;
    font-size: 18px;
}

.rodape, h1, a {
    font-size:  12px;
    text-align: center;
    position: relative;
    margin: 360px 0 0;

}

@media screen and (max-width:480px) {
	.logoAlura, .text-area, .botoes, .mensagem, .rodape {
		width: auto;
	}
}